#good{
	width: 1200px;
	height: 440px;
	margin: 0 auto;
	margin-top: 30px;
}

#good-show,#good-info{
	width: 50%;
	height: 100%;
	float: left;
	
}
#good-show{
	width: 40%;
	text-align: center;
	line-height: 400px;
	
}
#good-show img{
	vertical-align: middle;
	height: 30%;
	
	
}

#good-info{
	font-size: 14px;
}
#good-table{
	border-spacing: 0px;
	width: 100%;
}
#good-table td{
	border-bottom: 1px solid #ccc;
}
.tr-info{
	
	text-align: center;
	height: 70px;
	font-size: 16px;
	
}
.td-title{
	width: 40%;
	text-align: right;
	font-size: 20px;
}
#total{
	width: 40px;
	height: 25px;
	text-align: center;
}
.s-btn button{
	outline: none;
	background-color:white;
	border: 1px solid #ccc;
	
}
#gopay{
	width: 1000px;
	height: 31px;
	margin: 0 auto;
	text-align: right;
}




